:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.table {
  border-top: 0.2rem solid #ebebeb;
  margin: 0 3rem;
  padding: 0.5rem 0;

  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: none;
    line-height: 3rem;
    margin: 0 -3rem;
    width: 100%;
    height: 3rem;

    .cell {
      flex-shrink: 0;
      flex-grow: 0;
      padding: 0 1rem;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        padding-left: 3rem;
      }

      &:last-child {
        padding-right: 3rem;
      }
    }
  }
}
