<div class="table">
  <div class="row">
    <span class="cell label" [style.flex-basis]="sizes[0] + 'px'">{{ 'HISTORY.DETAILS.ID' | translate }}</span>
    <span class="cell key-value" [style.flex-basis]="sizes[1] + 'px'">{{transaction.tx_hash}}</span>
    <span class="cell label" [style.flex-basis]="sizes[2] + 'px'">{{ 'HISTORY.DETAILS.SIZE' | translate }}</span>
    <span class="cell value" [style.flex-basis]="sizes[3] + 'px'">{{ 'HISTORY.DETAILS.SIZE_VALUE' | translate : {value: transaction.tx_blob_size} }}</span>
  </div>
  <div class="row">
    <span class="cell label" [style.flex-basis]="sizes[0] + 'px'">{{ 'HISTORY.DETAILS.HEIGHT' | translate }}</span>
    <span class="cell value" [style.flex-basis]="sizes[1] + 'px'">{{transaction.height}}</span>
    <span class="cell label" [style.flex-basis]="sizes[2] + 'px'">{{ 'HISTORY.DETAILS.CONFIRMATION' | translate }}</span>
    <span class="cell value" [style.flex-basis]="sizes[3] + 'px'">{{variablesService.height_app - transaction.height}}</span>
  </div>
  <div class="row">
    <span class="cell label" [style.flex-basis]="sizes[0] + 'px'">{{ 'HISTORY.DETAILS.INPUTS' | translate }}</span>
    <span class="cell value" [style.flex-basis]="sizes[1] + 'px'">{{transaction.td['rcv']?.length || 0}}</span>
    <span class="cell label" [style.flex-basis]="sizes[2] + 'px'">{{ 'HISTORY.DETAILS.OUTPUTS' | translate }}</span>
    <span class="cell value" [style.flex-basis]="sizes[3] + 'px'">{{transaction.td['spn']?.length || 0}}</span>
  </div>
</div>
