:host {
  width: 100%;
}

.wrap-table {
  margin: -3rem;

  table {

    tbody {

      tr {

        td {

          &:first-child {
            position: relative;
            padding-right: 5rem;
            width: 18rem;

            span {
              display: block;
              line-height: 3.5rem;
              max-width: 10rem;
            }

            .icon {
              position: absolute;
              top: 50%;
              right: 1rem;
              transform: translateY(-50%);
              display: block;
              mask: url(../../assets/icons/alert.svg) no-repeat 0;
              width: 1.2rem;
              height: 1.2rem;
            }
          }
        }
      }
    }
  }
}
