<div class="wrap-table">

  <table class="messages-table">
    <thead>
    <tr>
      <th>{{ 'MESSAGES.ADDRESS' | translate }}</th>
      <th>{{ 'MESSAGES.MESSAGE' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of messages" [routerLink]="[message.address]">
      <td>
        <span>{{message.address}}</span>
        <i class="icon" *ngIf="message.is_new"></i>
      </td>
      <td>
        <span>{{message.message}}</span>
      </td>
    </tr>
    </tbody>
  </table>

</div>
