:host {
  flex: 1 0 auto;
  padding: 3rem;
}

.content {
  padding: 3rem;
  min-height: 100%;

  .head {
    justify-content: flex-end;
  }
}

.add-wallet {

  .add-wallet-title {
    margin-bottom: 1rem;
  }

  .add-wallet-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -0.5rem;
    padding: 1.5rem 0;

    button {
      flex: 1 0 auto;
      margin: 0 0.5rem;
    }
  }

  .add-wallet-help {
    display: flex;
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 1.5rem;

    .icon {
      mask: url(../../assets/icons/howto.svg) no-repeat center;
      margin-right: 0.8rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
