<div class="wrap-table">

  <table class="history-table">
    <thead>
    <tr #head (window:resize)="calculateWidth()">
      <th>{{ 'HISTORY.STATUS' | translate }}</th>
      <th>{{ 'HISTORY.DATE' | translate }}</th>
      <th>{{ 'HISTORY.AMOUNT' | translate }}</th>
      <th>{{ 'HISTORY.FEE' | translate }}</th>
      <th>{{ 'HISTORY.ADDRESS' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of variablesService.currentWallet.history; let index = index">
      <tr (click)="openDetails(index)">
        <td>
          <div class="status" [class.send]="!item.is_income" [class.received]="item.is_income">
            <ng-container *ngIf="variablesService.height_app - item.height < 10 || item.height === 0 && item.timestamp > 0">
              <div class="confirmation" tooltip="{{ 'HISTORY.STATUS_TOOLTIP' | translate : {'current': getHeight(item)/10, 'total': 10} }}" placement="bottom" tooltipClass="table-tooltip" [delay]="500">
                <div class="fill" [style.height]="getHeight(item) + '%'"></div>
              </div>
            </ng-container>
            <i class="icon"></i>
            <span>{{ (item.is_income ? 'HISTORY.RECEIVED' : 'HISTORY.SEND') | translate }}</span>
          </div>
        </td>
        <td>{{item.timestamp * 1000 | date : 'dd-MM-yyyy HH:mm'}}</td>
        <td>
          <span *ngIf="item.sortAmount && item.sortAmount.toString() !== '0'">{{item.sortAmount | intToMoney}} {{variablesService.defaultCurrency}}</span>
        </td>
        <td>
          <span *ngIf="item.sortFee && item.sortFee.toString() !== '0'">{{item.sortFee | intToMoney}} {{variablesService.defaultCurrency}}</span>
        </td>
        <td class="remote-address">
          <span *ngIf="!(item.tx_type === 0 && item.remote_addresses && item.remote_addresses[0])">{{item | historyTypeMessages}}</span>
          <span *ngIf="item.tx_type === 0 && item.remote_addresses && item.remote_addresses[0]" (contextmenu)="variablesService.onContextMenuOnlyCopy($event, item.remote_addresses[0])">{{item.remote_addresses[0]}}</span>
        </td>
      </tr>
      <tr class="transaction-details" [class.open]="index === openedDetails">
        <td colspan="5">
          <app-transaction-details *ngIf="index === openedDetails" [transaction]="item" [sizes]="calculatedWidth"></app-transaction-details>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

</div>
