[submodule "contrib/miniupnp"]
	path = contrib/miniupnp
	url = https://github.com/miniupnp/miniupnp
[submodule "contrib/db/libmdbx"]
	path = contrib/db/libmdbx
	url = https://abf.io/erthink/libmdbx.git
[submodule "src/gui/qt-daemon/layout"]
	path = src/gui/qt-daemon/layout
	url = https://github.com/hyle-team/zano_ui.git
	branch = main
