[submodule "contrib/miniupnp"]
	path = contrib/miniupnp
	url = https://github.com/miniupnp/miniupnp
[submodule "src/gui/qt-daemon/layout"]
	path = src/gui/qt-daemon/layout
	url = https://github.com/hyle-team/zano_ui.git
	branch = main
[submodule "contrib/tor-connect"]
	path = contrib/tor-connect
	url = https://github.com/hyle-team/tor-connect.git
	branch = main
[submodule "contrib/jwt-cpp"]
	path = contrib/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
