.form-assign {
  margin: 2.4rem 0;

  .alias-name {
    width: 50%;
  }

  .alias-cost {
    font-size: 1.3rem;
    margin-top: 2rem;
  }

  .wrap-buttons {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem -0.7rem;

    button {
      margin: 0 0.7rem;
      width: 15rem;
    }
  }
}

.assign-alias-tooltip {
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 1rem 1.5rem;
  max-width: 46rem;
}

.has-no-edit-symbol {
  position: relative;
  width: 100%;
  input {
    padding-left: 2.35rem;
  }
  &:after {
    content: '@';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }
}
