app-main, app-create-wallet, app-open-wallet, app-restore-wallet, app-seed-phrase, app-wallet-details, app-assign-alias, app-edit-alias, app-transfer-alias, app-settings, app-login {
  flex: 1 1 auto;
  padding: 3rem;
  min-width: 85rem;

  .content {
    position: relative;
    padding: 3rem;
    min-height: 100%;

    @include themify($themes) {
      background-color: themed(contentBackgroundColor);
      color: themed(mainTextColor);
    }

    .head {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

app-main {

  .content {

    .add-wallet {

      .add-wallet-help {

        @include themify($themes) {
          color: themed(blueTextColor);
        }

        .icon {

          @include themify($themes) {
            background-color: themed(blueTextColor);
          }
        }
      }
    }
  }
}

app-seed-phrase {

  .seed-phrase-content {

    @include themify($themes) {
      background-color: themed(inputBackgroundColor);
      color: themed(mainTextColor)
    }
  }
}

app-wallet-details {

  .seed-phrase {

    @include themify($themes) {
      background-color: themed(inputBackgroundColor);
    }
  }
}

app-settings {

  .content {
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .theme-selection {

      @include themify($themes) {
        color: themed(optionalTextColor);
      }
    }

    .scale-selection {

      .button-block {

        @include themify($themes) {
          background-color: themed(tabInactiveBackgroundColor);
        }

        .label {

          @include themify($themes) {
            color: themed(optionalTextColor);
          }
        }

        &.active {

          @include themify($themes) {
            background-color: themed(blueTextColor);
          }

          .label {

            @include themify($themes) {
              color: themed(blueTextColor);
            }
          }
        }
      }
    }
  }
}

app-login {
  min-width: inherit;
}
