button {
  border: none;
  font-family: OpenSans, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  outline: none;
  padding: 0 1rem;
  height: 4.2rem;

  &:disabled:not(.transparent-button) {

    @include themify($themes) {
      background-color: themed(disabledButtonBackgroundColor);
      color: themed(alternativeTextColor);
    }

    &:hover {

      @include themify($themes) {
        background-color: themed(disabledButtonHoverColor);
      }
    }
  }

  &.blue-button:not(:disabled) {

    @include themify($themes) {
      background-color: themed(blueButtonBackgroundColor);
      color: themed(alternativeTextColor);
    }

    &:hover {

      @include themify($themes) {
        background-color: themed(blueButtonHoverColor);
      }
    }
  }

  &.green-button:not(:disabled) {

    @include themify($themes) {
      background-color: themed(greenButtonBackgroundColor);
      color: themed(alternativeTextColor);
    }

    &:hover {

      @include themify($themes) {
        background-color: themed(greenButtonHoverColor);
      }
    }
  }

  &.turquoise-button:not(:disabled) {

    @include themify($themes) {
      background-color: themed(turquoiseButtonBackgroundColor);
      color: themed(alternativeTextColor);
    }

    &:hover {

      @include themify($themes) {
        background-color: themed(turquoiseButtonHoverColor);
      }
    }
  }

  &.transparent-button {
    display: flex;
    align-items: center;
    justify-content: center;

    @include themify($themes) {
      background-color: transparent;
      border: 0.2rem solid themed(transparentButtonBorderColor);
      color: themed(mainTextColor);
    }

    .icon {

      @include themify($themes) {
        background-color: themed(mainTextColor);
      }

      margin-right: 1rem;
      mask: url(~src/assets/icons/complete-testwallet.svg) no-repeat center;
      width: 1.7rem;
      height: 1.7rem;
    }
  }

}

.input-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.4rem;

  .wrap-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 2.4rem;
  }

  label {
    font-size: 1.3rem;
    line-height: 2.4rem;

    @include themify($themes) {
      color: themed(optionalTextColor);
    }
  }

  input[type='text'], input[type='password'], select {
    border: none;
    font-size: 1.4rem;
    outline: none;
    padding: 0 1rem;
    width: 100%;
    height: 4.2rem;

    @include themify($themes) {
      background-color: themed(inputBackgroundColor);
      color: themed(mainTextColor);
    }
  }

  &.textarea {
    height: auto;

    textarea {
      font-family: OpenSans, sans-serif;
      border: none;
      font-size: 1.4rem;
      outline: none;
      padding: 1rem;
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 7.5rem;
      max-height: 7.5rem;
      overflow: hidden;
      resize: none;

      @include themify($themes) {
        background-color: themed(inputBackgroundColor);
        color: themed(mainTextColor);
      }
    }
  }

  .error-block {
    font-size: 1rem;
    line-height: 1.4rem;
    align-self: flex-end;
    text-align: right;

    @include themify($themes) {
      color: themed(redTextColor);
    }
  }
}

input[type='radio'].style-radio {

  & + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    padding-left: 2.4rem;

    @include themify($themes) {
      color: themed(optionalTextColor);
    }

    @include unSelect;
  }

  &:not(checked) {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
    }

    & + label:before {
      content: '';
      position: absolute;
      top: 0.7rem;
      left: 0;
      background: transparent;
      border-radius: 50%;
      width: 1.4rem;
      height: 1.4rem;

      @include themify($themes) {
        border: 0.1rem solid themed(blueTextColor);
      }
    }

    & + label:after {
      content: '';
      position: absolute;
      top: 1rem;
      left: 0.3rem;
      border-radius: 50%;
      opacity: 0;
      width: 0.8rem;
      height: 0.8rem;

      @include themify($themes) {
        background-color: themed(blueTextColor);
      }
    }
  }

  &:checked {

    & + label:after {
      opacity: 1;
    }
  }
}

input[type='checkbox'].style-checkbox {

  & + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    padding-left: 3.6rem;

    @include themify($themes) {
      color: themed(optionalTextColor);
    }

    @include unSelect;
  }

  &:not(checked) {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    visibility: hidden;

    & + label {
      position: relative;
    }

    & + label:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 1.6rem;
      transform: translateY(-50%);
      background: transparent;
      width: 1.4rem;
      height: 1.4rem;

      @include themify($themes) {
        border: 0.1rem solid themed(blueTextColor);
      }
    }
  }

  &:checked {

    & + label:before {
      background: url(~src/assets/icons/complete-testwallet.svg);

      @include themify($themes) {
        background-color: themed(blueTextColor);
      }
    }
  }
}

.switch {

  @include themify($themes) {
    background-color: themed(switchBackgroundColor);
  }

  .circle {

    &.on {

      @include themify($themes) {
        background-color: themed(blueTextColor);
      }
    }

    &.off {

      @include themify($themes) {
        background-color: themed(optionalTextColor);
      }
    }
  }
}

.table-tooltip {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  white-space: pre-wrap;

  @include themify($themes) {
    background: themed(tooltipBackgroundColor);
    box-shadow: themed(tooltipShadow);
    color: themed(mainTextColor);
  }

  &.ng-tooltip-top {
    margin-top: -1rem;

    &:before {
      content: "";
      position: absolute;
      bottom: -2rem;
      left: calc(50% - 1rem);
      border-width: 1rem;
      border-style: solid;

      @include themify($themes) {
        border-color: themed(tooltipBackgroundColor) transparent transparent transparent;
      }
    }
  }

  &.ng-tooltip-top-left {
    margin-top: -1rem;

    &:before {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0.7rem;
      border-width: 1rem 1rem 0 0;
      border-style: solid;

      @include themify($themes) {
        border-color: themed(tooltipBackgroundColor) transparent transparent transparent;
      }
    }
  }

  &.ng-tooltip-top-right {
    margin-top: -1rem;

    &:before {
      content: "";
      position: absolute;
      bottom: -1rem;
      right: 0.7rem;
      border-width: 0.5rem;
      border-style: solid;

      @include themify($themes) {
        border-color: themed(tooltipBackgroundColor) themed(tooltipBackgroundColor) transparent transparent;
      }
    }
  }

  &.ng-tooltip-bottom {
    margin-top: 1rem;

    &:before {
      content: "";
      position: absolute;
      top: -2rem;
      left: calc(50% - 1rem);
      border-width: 1rem;
      border-style: solid;

      @include themify($themes) {
        border-color: transparent transparent themed(tooltipBackgroundColor) transparent;
      }
    }
  }

  &.ng-tooltip-bottom-left {
    margin-top: 1rem;

    &:before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 0.7rem;
      border-width: 0.5rem;
      border-style: solid;

      @include themify($themes) {
        border-color: transparent transparent themed(tooltipBackgroundColor) themed(tooltipBackgroundColor);
      }
    }
  }

  &.ng-tooltip-bottom-right {
    margin-top: 1rem;

    &:before {
      content: "";
      position: absolute;
      top: -1rem;
      right: 0.7rem;
      border-width: 0.5rem;
      border-style: solid;

      @include themify($themes) {
        border-color: transparent themed(tooltipBackgroundColor) themed(tooltipBackgroundColor) transparent;
      }
    }
  }

  &.ng-tooltip-left {
    margin-left: -1rem;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -1rem;
      border-width: 1rem 1rem 0 0;
      border-style: solid;

      @include themify($themes) {
        border-color: themed(tooltipBackgroundColor) transparent transparent transparent;
      }
    }
  }

  &.ng-tooltip-right {
    margin-left: 1rem;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -1rem;
      border-width: 1rem 0 0 1rem;
      border-style: solid;

      @include themify($themes) {
        border-color: themed(tooltipBackgroundColor) transparent transparent transparent;
      }
    }
  }
}

.balance-tooltip {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  padding: 1.3rem;

  @include themify($themes) {
    background: themed(tooltipBackgroundColor);
    box-shadow: themed(tooltipShadow);
    color: themed(mainTextColor);
  }

  &.ng-tooltip-top {
    margin-top: -1rem;
  }

  &.ng-tooltip-bottom {
    margin-top: 1rem;
  }

  &.ng-tooltip-left {
    margin-left: -1rem;
  }

  &.ng-tooltip-right {
    margin-left: 1rem;
  }

  .available {
    margin-bottom: 1.7rem;

    b {
      font-weight: 600;
    }
  }

  .locked {
    margin-bottom: 0.7rem;

    b {
      font-weight: 600;
    }
  }

  .link {
    cursor: pointer;

    @include themify($themes) {
      color: themed(blueTextColor);
    }
  }
}

.ngx-contextmenu {

  .dropdown-menu {
    border: none;
    padding: 0;

    @include themify($themes) {
      background-color: themed(chartOptionsBackgroundColor);
      box-shadow: themed(tooltipShadow);
    }
  }

  li {
    display: block;
    font-family: OpenSans, sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
  }

  a {
    display: block;
    padding: 0.5em 1em;

    @include themify($themes) {
      color: themed(mainTextColor);
    }

    &:hover {

      @include themify($themes) {
        background-color: themed(chartOptionsHoverColor);
        color: themed(mainTextColor);
      }
    }
  }
}

app-modal-container {

  .modal {

    @include themify($themes) {
      background: themed(modalBackground);
      color: themed(mainTextColor);
    }

    .content {

      .icon.error {

        @include themify($themes) {
          background-color: themed(redTextColor);
        }
      }

      .icon.success {

        @include themify($themes) {
          background-color: themed(greenTextColor);
        }
      }

      .icon.info {

        @include themify($themes) {
          background-color: themed(blueTextColor);
        }
      }
    }

    .action-button {

      @include themify($themes) {
        background-color: themed(blueTextColor);
        color: themed(alternativeTextColor);
      }
    }

    .close-button {

      .icon {

        @include themify($themes) {
          background-color: themed(closeButtonColor);
        }
      }
    }
  }
}

app-transaction-details {

  .table {

    @include themify($themes) {
      border-top: 0.2rem solid themed(transparentButtonBorderColor);
    }

    .row {

      .cell {

        &.label {

          @include themify($themes) {
            color: themed(optionalTextColor);
          }
        }

        &.value {

          @include themify($themes) {
            color: themed(mainTextColor);
          }
        }

        &.key-value {

          @include themify($themes) {
            color: themed(blueTextColor);
          }
        }
      }
    }
  }
}
