:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
}
.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: 200%;
<<<<<<< HEAD
  padding: 3rem;
=======
  padding: 2rem;
>>>>>>> confirm modal
  min-width: 34rem;
  max-width: 60rem;

  .content {
    display: flex;
<<<<<<< HEAD
=======
    margin: 1.2rem 0;
>>>>>>> confirm modal

    .icon {
      flex: 0 0 auto;
      width: 4.4rem;
      height: 4.4rem;

      &.info {
        mask: url(~src/assets/icons/modal-info.svg) no-repeat center;
      }
    }

    .message-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 2rem;

<<<<<<< HEAD
      .title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.2rem;
      }

=======
>>>>>>> confirm modal
      .message {
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin-top: 0.4rem;
      }
    }
  }

  .wrap-btn {
    display: flex;
<<<<<<< HEAD
    justify-content: space-between;
    width: 100%;
    margin-top: 3.5rem;
  }
  
  .action-button {
=======
  }
  
  .action-button {
    margin: 1.2rem auto 0.6rem;
>>>>>>> confirm modal
    width: 10rem;
    height: 2.4rem;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin: 0;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem;

    .icon {
      mask: url(~src/assets/icons/close.svg) no-repeat center;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
