:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .content {
    display: flex;

    .wrap-login {
      margin: auto;
      width: 100%;
      max-width: 40rem;

      .logo {
        display: flex;
        justify-content: center;

        &::ng-deep svg {
          width: 15rem;
        }
      }

      .form-login {
        display: flex;
        flex-direction: column;

        .wrap-button {
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            margin: 2.5rem 0;
          }
        }

        button {
          margin: 2.5rem auto;
          width: 100%;
          max-width: 15rem;
        }
      }
    }
  }
}
.synchronization-status {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
