<div class="content">

  <div class="wrap-login">

    <div class="logo"></div>

    <form *ngIf="type === 'reg'" class="form-login" [formGroup]="regForm" (ngSubmit)="onSubmitCreatePass()">

      <div class="input-block">
        <label for="master-pass">{{ 'LOGIN.SETUP_MASTER_PASS' | translate }}</label>
        <input type="password" id="master-pass" formControlName="password" (contextmenu)="variablesService.onContextMenuPasteSelect($event)">
        <div class="error-block" *ngIf="regForm.controls['password'].invalid && (regForm.controls['password'].dirty || regForm.controls['password'].touched)">
          <div *ngIf="regForm.controls['password'].errors['required']">
            {{ 'LOGIN.FORM_ERRORS.PASS_REQUIRED' | translate }}
          </div>
        </div>
      </div>

      <div class="input-block">
        <label for="confirm-pass">{{ 'LOGIN.SETUP_CONFIRM_PASS' | translate }}</label>
        <input type="password" id="confirm-pass" formControlName="confirmation" (contextmenu)="variablesService.onContextMenuPasteSelect($event)">
        <div class="error-block" *ngIf="regForm.controls['confirmation'].invalid && (regForm.controls['confirmation'].dirty || regForm.controls['confirmation'].touched)">
          <div *ngIf="regForm.controls['confirmation'].errors['required']">
            {{ 'LOGIN.FORM_ERRORS.CONFIRM_REQUIRED' | translate }}
          </div>
        </div>
        <div class="error-block" *ngIf="regForm.controls['password'].dirty && regForm.controls['confirmation'].dirty && regForm.errors">
          <div *ngIf="regForm.errors['mismatch']">
            {{ 'LOGIN.FORM_ERRORS.MISMATCH' | translate }}
          </div>
        </div>
      </div>

      <button type="submit" class="blue-button">{{ 'LOGIN.BUTTON_NEXT' | translate }}</button>

    </form>

    <form *ngIf="type !== 'reg'" class="form-login" [formGroup]="authForm" (ngSubmit)="onSubmitAuthPass()">

      <div class="input-block">
        <label for="master-pass-login">{{ 'LOGIN.MASTER_PASS' | translate }}</label>
        <input type="password" id="master-pass-login" formControlName="password" autofocus (contextmenu)="variablesService.onContextMenuPasteSelect($event)">
        <div class="error-block" *ngIf="authForm.controls['password'].invalid && (authForm.controls['password'].dirty || authForm.controls['password'].touched)">
          <div *ngIf="authForm.controls['password'].errors['required']">
            {{ 'LOGIN.FORM_ERRORS.PASS_REQUIRED' | translate }}
          </div>
        </div>
      </div>

      <button type="submit" class="blue-button">{{ 'LOGIN.BUTTON_NEXT' | translate }}</button>

    </form>

  </div>

</div>
