<div class="content scrolled-content">
  <div>
    <div class="head">
      <button type="button" class="back-btn" (click)="back()">
        <i class="icon back"></i>
        <span>{{ 'COMMON.BACK' | translate }}</span>
      </button>
    </div>

    <h3 class="contacts-title">{{ 'CONTACTS.IMPORT_EXPORT' | translate }}</h3>

    <div class="btn-wrapper">
      <button class="blue-button" type="button" (click)="import()">
        {{ 'CONTACTS.IMPORT' | translate }}
      </button>
      <button class="blue-button" type="button" (click)="export()">
        {{ 'CONTACTS.EXPORT' | translate }}
      </button>
    </div>
  </div>
</div>
