$themes: (
  dark: (
    bodyBackgroundColor: #131921,
    sidebarBackgroundColor: rgba(23, 31, 39, 1),
    sidebarBorderColor: #1f2833,
    onlineColor: #5cda9d,
    offlineColor: #ff5252,
    contentBackgroundColor: rgba(43, 54, 68, 0.5),
    mainTextColor: #e0e0e0,
    alternativeTextColor: #111921,
    optionalTextColor: #556576,
    blueTextColor: #4db1ff,
    greenTextColor: #5cda9d,
    orangeTextColor: #ff6f00,
    redTextColor: #ff5252,
    blueButtonBackgroundColor: #4db1ff,
    blueButtonHoverColor: #82d7ff,
    blueButtonFocusColor: #59b5fd,
    disabledButtonBackgroundColor: #9cadb7,
    disabledButtonHoverColor: #b7d1e0,
    disabledButtonFocusColor: #a7b9c2,
    greenButtonBackgroundColor: #5cda9d,
    greenButtonHoverColor: #8dfcc6,
    greenButtonFocusColor: #62e0b2,
    turquoiseButtonBackgroundColor: #4dd0e1,
    turquoiseButtonHoverColor: #87f4f5,
    turquoiseButtonFocusColor: #42d5e8,
    transparentButtonBorderColor: #2b3644,
    inputBackgroundColor: #171e27,
    selectHoverColor: rgba(58, 69, 85, 0.5),
    selectSelectedColor: rgba(43, 54, 68, 0.5),
    switchBackgroundColor: #000000,
    accountBackgroundColor: rgba(43, 54, 68, 0.5),
    accountHoverBackgroundColor: rgba(58, 69, 85, 0.5),
    accountMainTextColor: #e0e0e0,
    securedSeed: #e0e0e0,
    seedItemText: #e0e0e0,
    seedItemBackgroundColor: #18202a,
    accountOptionalTextColor: #556576,
    accountIndicatorTextColor: #111921,
    accountSwitchBackgroundColor: #000000,
    accountIndicatorBackgroundColor: #4db1ff,
    tabInactiveBackgroundColor: rgba(23, 31, 39, 0.5),
    tabHoverBackgroundColor: rgba(58, 69, 85, 0.5),
    tableBackgroundColor: #18202a,
    messageMyBackgroundColor: #2a3544,
    messageBuddyBackgroundColor: #18202a,
    progressBarBackgroundColor: #343f4a,
    progressBarFullBackgroundColor: #5cda9d,
    chartOptionsBackgroundColor: #2b3644,
    chartOptionsHoverColor: #556576,
    tooltipBackgroundColor: #42505f,
    tooltipImportantTextColor: #ff6f00,
    tooltipImportantBackgroundColor: #5f2b11,
    tooltipCriticalTextColor: #ff5252,
    tooltipCriticalBackgroundColor: #5f1d1d,
    tooltipShadow: 0 0 1rem rgba(0, 0, 0, 0.5),
    modalBackground: url(~src/assets/images/background-dark.png),
    closeButtonColor: #556576,
    hoverPage: #3a485a
  ),
  gray: (
    bodyBackgroundColor: #101417,
    sidebarBackgroundColor: rgba(28, 30, 33, 1),
    sidebarBorderColor: #2e3337,
    onlineColor: #47cf8d,
    offlineColor: #ff5252,
    contentBackgroundColor: rgba(37, 40, 43, 0.5),
    mainTextColor: #e0e0e0,
    alternativeTextColor: #1a1a1a,
    optionalTextColor: #565c62,
    blueTextColor: #42a5f5,
    greenTextColor: #47cf8d,
    orangeTextColor: #ff6f00,
    redTextColor: #ff5252,
    blueButtonBackgroundColor: #42a5f5,
    blueButtonHoverColor: #86d6ff,
    blueButtonFocusColor: #5fb6fc,
    disabledButtonBackgroundColor: #79848f,
    disabledButtonHoverColor: #a1aebb,
    disabledButtonFocusColor: #8a959f,
    greenButtonBackgroundColor: #47cf8d,
    greenButtonHoverColor: #7bf6c6,
    greenButtonFocusColor: #5cdc9e,
    turquoiseButtonBackgroundColor: #3ec5d7,
    turquoiseButtonHoverColor: #72edfe,
    turquoiseButtonFocusColor: #50d0e1,
    transparentButtonBorderColor: #2f3438,
    inputBackgroundColor: #292d31,
    selectHoverColor: rgba(58, 62, 66, 0.5),
    selectSelectedColor: rgba(37, 40, 43, 0.5),
    switchBackgroundColor: #000000,
    accountBackgroundColor: rgba(37, 40, 43, 0.5),
    accountHoverBackgroundColor: rgba(58, 62, 66, 0.5),
    accountMainTextColor: #e0e0e0,
    securedSeed: #e0e0e0,
    seedItemText: #e0e0e0,
    seedItemBackgroundColor: #292d31,
    accountOptionalTextColor: #565c62,
    accountIndicatorTextColor: #1a1a1a,
    accountSwitchBackgroundColor: #000000,
    accountIndicatorBackgroundColor: #42a5f5,
    tabInactiveBackgroundColor: rgba(28, 30, 33, 0.5),
    tabHoverBackgroundColor: rgba(58, 62, 66, 0.5),
    tableBackgroundColor: #25292d,
    messageMyBackgroundColor: #30363c,
    messageBuddyBackgroundColor: #25292d,
    progressBarBackgroundColor: #363a3e,
    progressBarFullBackgroundColor: #47cf8d,
    chartOptionsBackgroundColor: #292d31,
    chartOptionsHoverColor: #515960,
    tooltipBackgroundColor: #3e464c,
    tooltipImportantTextColor: #ff6f00,
    tooltipImportantBackgroundColor: #55240d,
    tooltipCriticalTextColor: #ff5252,
    tooltipCriticalBackgroundColor: #4c1919,
    tooltipShadow: 0 0 1rem rgba(0, 0, 0, 0.5),
    modalBackground: url(~src/assets/images/background-gray.png),
    closeButtonColor: #515960,
    hoverPage: #383e43
  ),
  white: (
    bodyBackgroundColor: #eeeeee,
    sidebarBackgroundColor: rgba(255, 255, 255, 1),
    sidebarBorderColor: #ebebeb,
    onlineColor: #46c172,
    offlineColor: #ff5252,
    contentBackgroundColor: rgba(255, 255, 255, 0.5),
    mainTextColor: #43454b,
    alternativeTextColor: #fefefe,
    optionalTextColor: #a0a5ab,
    blueTextColor: #2c95f1,
    greenTextColor: #46c172,
    orangeTextColor: #ff6f00,
    redTextColor: #ff5252,
    blueButtonBackgroundColor: #2c95f1,
    blueButtonHoverColor: #5cb3ff,
    blueButtonFocusColor: #379ffa,
    disabledButtonBackgroundColor: #90a4ae,
    disabledButtonHoverColor: #aebec6,
    disabledButtonFocusColor: #a7b9c2,
    greenButtonBackgroundColor: #46c172,
    greenButtonHoverColor: #5ad586,
    greenButtonFocusColor: #53c77c,
    turquoiseButtonBackgroundColor: #26b6c7,
    turquoiseButtonHoverColor: #52cbd9,
    turquoiseButtonFocusColor: #31becf,
    transparentButtonBorderColor: #ebebeb,
    inputBackgroundColor: #e6e6e6,
    selectHoverColor: rgba(240, 240, 240, 0.5),
    selectSelectedColor: rgba(224, 224, 224, 0.5),
    switchBackgroundColor: #e0e0e0,
    accountBackgroundColor: rgba(30, 136, 229, 1),
    accountHoverBackgroundColor: rgba(240, 240, 240, 0.5),
    accountMainTextColor: #ffffff,
    securedSeed: #a0a5ab,
    seedItemText: #43454b,
    seedItemBackgroundColor: #e6e6e6,
    accountOptionalTextColor: #91baf1,
    accountIndicatorTextColor: #43454b,
    accountSwitchBackgroundColor: #ffffff,
    accountIndicatorBackgroundColor: #ffffff,
    tabInactiveBackgroundColor: rgba(224, 224, 224, 0.5),
    tabHoverBackgroundColor: #ffffff,
    tableBackgroundColor: #ffffff,
    messageMyBackgroundColor: #fff,
    messageBuddyBackgroundColor: #ededed,
    progressBarBackgroundColor: #dcdcdc,
    progressBarFullBackgroundColor: #46c172,
    chartOptionsBackgroundColor: #e0e0e0,
    chartOptionsHoverColor: #ffffff,
    tooltipBackgroundColor: #ffffff,
    tooltipImportantTextColor: #ffffff,
    tooltipImportantBackgroundColor: #ef6c00,
    tooltipCriticalTextColor: #ffffff,
    tooltipCriticalBackgroundColor: #e53935,
    tooltipShadow: 0 0 1rem rgba(120, 120, 120, 0.5),
    modalBackground: url(~src/assets/images/background-white.png),
    closeButtonColor: #43454b,
    hoverPage: #ffffff
  )
);





