:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
}

.modal {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: 200%;
  padding: 2rem;
  min-width: 34rem;
  max-width: 64rem;

  .title {
    font-size: 1.8rem;
    text-align: center;
  }

  .open-form {

    .wallet-path {
      font-size: 1.3rem;
      margin: 5rem 0 2rem;
      word-wrap: break-word;
      line-height: 2rem;
    }

    .wrap-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2rem -2rem 0;

      button {
        flex: 1 0 0;
        margin: 0 2rem ;
      }
    }
  }
}
