<div class="modal">
  <h3 class="title">{{ 'OPEN_WALLET.MODAL.TITLE' | translate }}</h3>
  <form class="open-form" (ngSubmit)="openWallet()">
    <div class="wallet-path">{{ wallet.name }}</div>
    <div class="wallet-path">{{ wallet.path }}</div>
    <div class="input-block" *ngIf="!wallet.notFound">
      <label for="password">{{ 'OPEN_WALLET.MODAL.LABEL' | translate }}</label>
      <input type="password" id="password" name="password" [(ngModel)]="wallet.pass" (contextmenu)="variablesService.onContextMenuPasteSelect($event)"/>
    </div>
    <div class="error-block" *ngIf="wallet.notFound">
      {{ 'OPEN_WALLET.MODAL.NOT_FOUND' | translate }}
    </div>
    <div class="wrap-button">
      <button type="submit" class="blue-button" [disabled]="wallet.notFound">{{ 'OPEN_WALLET.MODAL.OPEN' | translate }}</button>
      <button type="button" class="blue-button" (click)="skipWallet()">{{ 'OPEN_WALLET.MODAL.SKIP' | translate }}</button>
    </div>
  </form>
</div>
