<div class="modal">
  <div class="content">
    <i class="icon" [class.error]="type === 'error'" [class.success]="type === 'success'" [class.info]="type === 'info'"></i>
    <div class="message-container">
      <span class="title">{{title}}</span>
      <span class="message" [innerHTML]="message"></span>
    </div>
  </div>
  <button type="button" class="action-button" (click)="onClose()" #btn>OK</button>
  <button type="button" class="close-button" (click)="onClose()"><i class="icon close"></i></button>
</div>
