.form-restore {
  margin: 2.4rem 0;
  width: 100%;

  .input-block {

    &.half-block {
      width: 50%;
    }
  }

  .wrap-buttons {
    display: flex;
    margin: 2.5rem -0.7rem;
    width: 50%;

    button {
      margin: 0 0.7rem;

      &.transparent-button {
        flex-basis: 50%;
      }

      &.select-button {
        flex-basis: 60%;
      }

      &.create-button {
        flex: 1 1 50%;
      }
    }
  }
}
