.scrolled-content {

  &::-webkit-scrollbar {
    background-color: transparent;
    cursor: default;
    width: 1rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #556576;
    background-clip: padding-box;
    border: 0.25rem solid transparent;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #556576;
  }
}
