.form-edit {
  margin: 2.4rem 0;

  .alias-name {
    width: 50%;
  }

  .alias-cost {
    font-size: 1.3rem;
    margin-top: 2rem;
  }

  .wrap-buttons {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem -0.7rem;

    button {
      margin: 0 0.7rem;
      width: 15rem;
    }
  }
}
