@echo off
rem 
rem This file contains local path settings for your own personal dev environment.
rem Rename to configure_local_paths.cmd and do not commit.
rem 

set QT_PREFIX_PATH=C:\dev\_sdk\Qt5.11.2\5.11.2
set BOOST_ROOT=C:\dev\_sdk\boost_1_66_0
