<div class="modal">
  <div class="title">
    <span>{{ 'CONFIRM.TITLE' | translate }}</span>
  </div>
  <form [formGroup]="confirmForm" (ngSubmit)="confirm()">
    <div class="content">
      <div class="message-container">
        <div class="message-block">
          <div class="message-label">{{ 'CONFIRM.MESSAGE.SEND' | translate }}</div>
          <div class="message-text">{{ +form.get('amount').value }} {{variablesService.defaultCurrency}}</div>
        </div>
        <div class="message-block">
          <div class="message-label">{{ 'CONFIRM.MESSAGE.FROM' | translate }}</div>
          <div class="message-text">{{ variablesService.currentWallet.address }}</div>
        </div>
        <div class="message-block">
          <div class="message-label">{{ 'CONFIRM.MESSAGE.TO' | translate }}</div>
          <div class="message-text">{{ form.get('address').value }}</div>
        </div>
        <ng-container *ngIf="form.get('comment').value != ''">
          <div class="message-block" *ngIf="form.get('comment').value != null">
            <div class="message-label">{{ 'CONFIRM.MESSAGE.COMMENT' | translate }}</div>
            <div class="message-text">{{ form.get('comment').value }}</div>
          </div>
        </ng-container>
        <div class="message-block confirm-master-pass">
          <div class="input-block" *ngIf="variablesService.appPass">
            <label for="password">{{ 'LOGIN.MASTER_PASS' | translate }}</label>
            <input type="password" id="password" name="password" formControlName="password" autofocus (contextmenu)="variablesService.onContextMenuPasteSelect($event)"/>
            <div class="error-block" >
              <div *ngIf="(confirmForm.controls['password'].errors && confirmForm.controls['password'].errors.requiredPass)
                        || (!confirmForm.controls['password'].value && confirmForm.controls['password'].touched)">
                {{ 'LOGIN.FORM_ERRORS.PASS_REQUIRED' | translate }}
              </div>
              <div *ngIf="confirmForm.controls['password'].errors && confirmForm.controls['password'].errors.passwordNotMatch">
                {{ 'LOGIN.FORM_ERRORS.MISMATCH' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-buttons">
      <button type="submit" class="blue-button" (click)="confirm()">{{ 'CONFIRM.BUTTON_CONFIRM' | translate }}</button>
      <button type="button" class="blue-button" (click)="onClose()">{{ 'CONFIRM.BUTTON_CANCEL' | translate }}</button>
    </div>
  </form>

</div>
