app-contacts, app-add-contacts,
app-contact-send, app-export-import {
  flex: 1 1 auto;
  padding: 3rem;
  min-width: 85rem;

  .content {
    position: relative;
    padding: 3rem;
    min-height: 100%;

    @include themify($themes) {
      background-color: themed(contentBackgroundColor);
      color: themed(mainTextColor);
    }

    .head {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

app-contacts {
  
  table {

    .alias {
  
      @include themify($themes) {
          color: themed(blueTextColor);
      }
    }

    button {
    
      .icon {
  
        @include themify($themes) {
          background-color: themed(blueTextColor);
        }
      }
  
      span {
        
        @include themify($themes) {
          color: themed(mainTextColor)
        }
      }
    }
  }

  .footer {
    
    @include themify($themes) {
      color: themed(blueTextColor);
    }
  
    .import-btn {

      @include themify($themes) {
        color: themed(blueTextColor);
      }

      .icon {
  
        @include themify($themes) {
          background-color: themed(blueTextColor);
        }
      }
    }
  }
  
}

app-contact-send {
  
  .wallets-selection {

    button {

      @include themify($themes) {
        color: themed(blueTextColor);
      }
    }
  }
}