:host {
  width: 100%;
}

.form-send {

  .input-blocks-row {
    display: flex;

    > div {
      flex-basis: 50%;

      &:first-child {
        margin-right: 1.5rem;
      }

      &:last-child {
        margin-left: 1.5rem;
      }
    }
  }

  .send-select {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin: 1.5rem 0 0;
    padding: 0;
    width: 100%;
    max-width: 15rem;
    height: 1.3rem;

    .arrow {
      margin-left: 1rem;
      width: 0.8rem;
      height: 0.8rem;

      &.down {
        mask: url(~src/assets/icons/arrow-down.svg) no-repeat center;
      }

      &.up {
        mask: url(~src/assets/icons/arrow-up.svg) no-repeat center;
      }
    }
  }

  .additional-details {
    display: flex;
    margin-top: 1.5rem;
    padding: 0.5rem 0 2rem;

    > div {
      flex-basis: 25%;

      &:first-child {
        padding-left: 1.5rem;
        padding-right: 1rem;
      }

      &:last-child {
        padding-left: 1rem;
        padding-right: 1.5rem;
      }
    }

    .checkbox-block {
      flex-basis: 50%;

      > label {
        top: 3.5rem;
      }
      &.disabled-checkbox-block {
        label {
          cursor: not-allowed;
          &:before {
            background-color: #556576;
            border: 0.1rem solid #556576;
          }
        }
      }
    }
  }

  button {
    margin: 2.4rem 0;
    width: 100%;
    max-width: 15rem;
  }
}
