:host {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 3rem 3rem;
  min-width: 95rem;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  height: 8rem;

  > div {
    display: flex;
    align-items: center;

    :not(:last-child) {
      margin-right: 3.2rem;
    }
  }

  button {
    display: flex;
    align-items: flex-end;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 400;
    outline: none;
    padding: 0;

    .icon {
      margin-right: 1.4rem;
      width: 1.7rem;
      height: 1.7rem;

      &.account {
        mask: url(../../assets/icons/account.svg) no-repeat center;
      }

      &.details {
        mask: url(../../assets/icons/details.svg) no-repeat center;
      }

      &.lock {
        mask: url(../../assets/icons/lock.svg) no-repeat center;
      }
    }
  }

  > div:last-child {

    :not(:last-child) {
      margin-right: 0;
    }

    > button {
      display: flex;
      align-items: flex-end;
      background: transparent;
      border: none;
      cursor: pointer;
      font-weight: 400;
      outline: none;
      padding: 0;

      .icon {
        margin-right: 1.7rem;
        width: 1.7rem;
        height: 1.7rem;

        &.details-settings {
          mask: url(../../assets/icons/details-settings.svg) no-repeat center;
        }

        &.close {
          mask: url(../../assets/icons/close.svg) no-repeat center;
          margin-right: 0;
        }
      }
    }
  }

}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 50rem;
  line-height: 2.7rem;
}


.alias {
  display: flex;
  align-items: center;
  font-size: 1.3rem;

  .icon {
    cursor: pointer;
    margin-right: 1.2rem;
    width: 1.7rem;
    height: 1.7rem;

    &.edit {
      mask: url(../../assets/icons/details.svg) no-repeat center;
    }

    &.transfer {
      mask: url(../../assets/icons/send.svg) no-repeat center;
    }
  }
}

.address {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  font-size: 1.4rem;
  line-height: 1.7rem;

  .icon {
    cursor: pointer;
    margin-left: 1.2rem;
    width: 1.7rem;
    height: 1.7rem;

    &.copy {
      mask: url(../../assets/icons/copy.svg) no-repeat center;

      &:hover {
        opacity: 0.75;
      }
    }

    &.copied {
      mask: url(../../assets/icons/complete-testwallet.svg) no-repeat center;
    }
  }
}

.balance {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 0 0 auto;
  margin: 2.6rem 0;

  :first-child {
    font-size: 3.3rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-right: 3.5rem;
  }

  :last-child {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3rem;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .tabs-header {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 0 auto;
      cursor: pointer;
      padding: 0 1rem;
      height: 5rem;

      .icon {
        margin-right: 1.3rem;
        width: 1.7rem;
        height: 1.7rem;

        &.send {
          mask: url(../../assets/icons/send.svg) no-repeat center;
        }

        &.receive {
          mask: url(../../assets/icons/receive.svg) no-repeat center;
        }

        &.history {
          mask: url(../../assets/icons/history.svg) no-repeat center;
        }

        &.contracts {
          mask: url(../../assets/icons/contracts.svg) no-repeat center;
        }

        &.messages {
          mask: url(../../assets/icons/message.svg) no-repeat center;
        }

        &.staking {
          mask: url(../../assets/icons/staking.svg) no-repeat center;
        }
      }

      .indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: 600;
        margin-left: 1.3rem;
        padding: 0 0.5rem;
        min-width: 1.6rem;
        height: 1.6rem;
      }

      &.disabled {
        cursor: url(../../assets/icons/not-allowed.svg), not-allowed;
      }

      &:not(:last-child) {
        margin-right: 0.3rem;
      }
    }
  }

  .tabs-content {
    display: flex;
    padding: 3rem;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: overlay;
  }
}
