<div class="header">
  <div>
    <h3>{{variablesService.currentWallet.name}}</h3>
    <button (click)="openInBrowser('zano.org')">
      <i class="icon account"></i>
      <span>{{ 'WALLET.REGISTER_ALIAS' | translate }}</span>
    </button>
  </div>
  <div>
    <button [routerLink]="['/details']" routerLinkActive="active">
      <i class="icon details"></i>
      <span>{{ 'WALLET.DETAILS' | translate }}</span>
    </button>
    <!--<button (click)="closeWallet()">
      <i class="icon lock"></i>
      <span>{{ 'WALLET.LOCK' | translate }}</span>
    </button>-->
  </div>
</div>
<div class="address">
  <span>{{variablesService.currentWallet.address}}</span>
  <i class="icon copy" (click)="copyAddress()"></i>
</div>
<div class="balance">
  <span [tooltip]="getTooltip()" [placement]="'bottom'" [tooltipClass]="'balance-tooltip'" [delay]="500" [timeout]="1000">{{variablesService.currentWallet.balance | intToMoney  : '3'}} {{variablesService.defaultCurrency}}</span>
  <span>$ {{variablesService.currentWallet.getMoneyEquivalent(variablesService.moneyEquivalent) | intToMoney | number : '1.2-2'}}</span>
</div>
<div class="tabs">
  <div class="tabs-header">
    <ng-container *ngFor="let tab of tabs; let index = index">
      <div class="tab" [class.active]="tab.active" [class.disabled]="(tab.link === '/contracts' || tab.link === '/staking') && variablesService.daemon_state !== 2" (click)="changeTab(index)">
        <i class="icon" [ngClass]="tab.icon"></i>
        <span>{{ tab.title | translate }}</span>
        <span class="indicator" *ngIf="tab.indicator">{{variablesService.currentWallet.new_contracts}}</span>
      </div>
    </ng-container>
  </div>
  <div class="tabs-content scrolled-content">
    <router-outlet></router-outlet>
  </div>
</div>

