:host {
  width: 100%;
}

.empty-contracts {
  font-size: 1.5rem;
}

.wrap-table {
  margin: -3rem -3rem 0 -3rem;
  overflow-x: auto;

  .contract {
    position: relative;
    display: flex;
    align-items: center;

    .icon {
      flex-shrink: 0;

      &.new, &.alert {
        position: absolute;
        top: 0;
      }

      &.new {
        left: -2.3rem;
        mask: url(../../assets/icons/new.svg) no-repeat center;
        width: 1.7rem;
        height: 1.7rem;
      }

      &.alert {
        top: 0.2rem;
        left: -2.1rem;
        mask: url(../../assets/icons/alert.svg) no-repeat center;
        width: 1.2rem;
        height: 1.2rem;
      }

      &.purchase, &.sell {
        margin-right: 1rem;
        width: 1.5rem;
        height: 1.5rem;
      }

      &.purchase {
        mask: url(../../assets/icons/purchase.svg) no-repeat center;
      }

      &.sell {
        mask: url(../../assets/icons/sell.svg) no-repeat center;
      }
    }

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 20vw;
    }
  }

  .status, .comment {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 20vw;
  }
}

.contracts-buttons {
  display: flex;
  margin: 3rem 0;
  width: 50%;

  button {
    flex: 0 1 50%;
    margin-right: 1.5rem;
  }
}
