<div class="content scrolled-content">
  <div class="head">
    <div class="breadcrumbs">
      <span [routerLink]="['/contacts']">{{
        'CONTACTS.TITLE' | translate
      }}</span>
      <span>{{ 'CONTACTS.SEND' | translate }}</span>
    </div>
    <button type="button" class="back-btn" (click)="back()">
      <i class="icon back"></i>
      <span>{{ 'COMMON.BACK' | translate }}</span>
    </button>
  </div>

  <div>
    <div class="wallets-selection">
      <div class="input-block">
        <label>
          {{ 'CONTACTS.SEND_FROM' | translate }}
        </label>
        <ng-select
          class="custom-select"
          [items]="this.variablesService.wallets"
          [(ngModel)]="this.variablesService.selectWallet"
          bindValue="wallet_id"
          bindLabel="name"
          [clearable]="false"
          [searchable]="false"
        >
        </ng-select>
      </div>
      <button [routerLink]="['/main']">
        {{ 'CONTACTS.OPEN_ADD_WALLET' | translate }}
      </button>
    </div>

    <div class="input-block">
      <label for="address">{{ 'CONTACTS.SEND_TO' | translate }}</label>
      <input type="text" id="address" [ngModel]="address" [readonly]="true"/>
    </div>
  </div>
  <button class="blue-button" [routerLink]="['/wallet/' + this.variablesService.selectWallet + '/send']" [queryParams]="{send: true}" (click)="goToWallet(this.variablesService.selectWallet)"
    [disabled]="!(this.variablesService.selectWallet === 0 || this.variablesService.selectWallet)">{{ 'CONTACTS.BUTTON.GO_TO_WALLET' | translate }}</button>
</div>
