.wallets-selection {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  
  .input-block {
    width: 18rem;
  }

  button {
    padding: 2rem;
    background: transparent;
    border: none;
    outline: none;
  }
}

.input-block {
  width: 44rem;

  input {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.blue-button {
  margin-top: 2.5rem;
  width: 100%;
  max-width: 18rem;
}


