// BASE
@import 'assets/scss/base/mixins';
@import 'assets/scss/base/null';
@import 'assets/scss/base/theme';
@import 'assets/scss/base/base';

// LAYOUT
@import 'assets/scss/layout/main';
@import 'assets/scss/layout/settings';
@import 'assets/scss/layout/sidebar';
@import 'assets/scss/layout/status';
@import 'assets/scss/layout/wallet';
@import 'assets/scss/layout/contact';
@import 'assets/scss/layout/seed-phrase';

// MODULES
@import 'assets/scss/modules/head';
@import 'assets/scss/modules/scroll';
@import 'assets/scss/modules/table';

@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: OpenSans;
  src: url(~src/assets/fonts/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: OpenSans;
  src: url(~src/assets/fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(~src/assets/fonts/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: OpenSans;
  src: url(~src/assets/fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(~src/assets/fonts/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}


html {
  font-family: OpenSans, sans-serif;
  font-size: 10px;
}

body {
  font-family: OpenSans, sans-serif;
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;

  &.theme-dark {
    background: #131921 url("assets/images/background-dark.png") no-repeat center;
    background-size: cover;
  }

  &.theme-gray {
    background: #101417 url("assets/images/background-gray.png") no-repeat center;
    background-size: cover;
  }

  &.theme-white {
    background: #eeeeee url("assets/images/background-white.png") no-repeat center;
    background-size: cover;
  }

  app-root {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.update-tooltip {

  .tooltip-inner {

    .icon {
      mask: url(assets/icons/update-alert.svg) no-repeat center;
    }
  }
}
