.form-details {
  margin-top: 1.8rem;

  .input-block {

    &:first-child {
      width: 50%;
    }
  }

  .wallet-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      margin: 2.9rem 0;
      width: 100%;
      max-width: 15rem;
    }
  }
}

.mt-2 {
  margin-top: 2rem;
}
