.form-details {
  margin-top: 1.8rem;

  .input-block {

    &:first-child {
      width: 50%;
    }
  }

  .wallet-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      margin: 2.9rem 0;
      width: 100%;
      max-width: 15rem;
    }
  }
}

.mt-2 {
  margin-top: 2rem;
}

.form-seed {

  label {
    color: #556576;
    font-size: 1.3rem;
    line-height: 2.4rem;
  }

  .form-content {
    border: 2px solid #2b3644;
    display: flex;
    justify-content: center;
    padding: 3rem;
    width: 100%;
  }

  .text-coral {
    color: #4db1ff;
    text-decoration: none;
  }

  .seed-phrase-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 38rem;
    width: 100%;

    .input-block,
    button {
      width: 100%;
    }

    .error-message {
      margin-top: 1rem;
      color: #ff6f00;
    }

    .secured-seed {
      color: #e0e0e0;
      font-size: 1.2rem;
      line-height: 2.4rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon {
        margin-right: 1.2rem;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      margin-bottom: 2rem;

      .icon {
        margin-right: 1.2rem;
      }
    }

  }
}

.seed-phrase {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent !important;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
      color: #556576;
      font-size: 1.3rem;
      line-height: 2.4rem;
      display: inline-flex;
      align-items: center;

      .icon {
        margin-left: 1.2rem;
      }
    }
  }

  &-content {
    border-top: 2px solid #2b3644;
    border-bottom: 2px solid #2b3644;
    padding: 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .item {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      width: calc(100% / 7);
      min-height: 35px;
      font-size: 1.3rem;
      color: #e0e0e0;

      &.dark {
        background-color: #18202a;
      }
    }
  }

  &-footer {
    text-align: center;
    .title {
      color: #556576;
      font-size: 1.3rem;
      line-height: 2.4rem;
    }
  }
}

.icon {
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;

  &.secured {
    background-color: #5cda9d;
    mask: url(~src/assets/icons/secured.svg) no-repeat center;
  }

  &.info {
    background-color: #4caefb;
    mask: url(~src/assets/icons/info.svg) no-repeat center;
  }

  &.unsecured {
    background-color: #ff6f00;
    mask: url(~src/assets/icons/unsecured.svg) no-repeat center;
  }

  &.safety {
    background-color: #111921;
    mask: url(~src/assets/icons/safety.svg) no-repeat center;
  }
}